/*MAIN*/
html {
    background: rgb(28,28,28);
  max-width: 100%;
} 
body {
	font-family: 'Tsukimi Rounded', sans-serif;
    padding: 32px;
    color: white;
	margin-left: 10%;
	margin-right: 10%;
}
a{
	text-decoration: none;
	color: transparent;
}
hr{
    height: 1px;
    border-width: 0;
    color: #c68bba;
    background-color: #c68bba;
}

/*HEADERS*/
header img {
    height: 250px;
    width: 250px;
    border-radius: 30%;
    margin-bottom: 32px;    

    transition: ease-out .2s;
	animation: 4.5s ease-out 0s infinite alternate-reverse logo_resize;
}
@keyframes logo_resize {
	from {
		border-radius: 25%;
	}
	to {
	  border-radius: 40%;
	}
  }
header img:hover{
    transform: scale3d(1.1, 0.9, 2.0);
}
header p {
	font-size: 24px;
    filter: drop-shadow(0 0 5px #eba4d0); 
	color: #c58ac0;
}

/*LINKS*/
.links
{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  gap: 80px;

  filter: drop-shadow(0 0 8px #c68bba);
}
.links h2
{
  position: relative;
  text-align: center;
  font-size: 18pt;
  margin-top: 10px;
  font-weight: normal;
  margin-bottom: 0px;

  color: #eba4d0;

  transition: transform .2s;
}
.links .linkDiv
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 320px;

  border-radius: 13px;
  border: 1px solid #c58ac0;

  transition: transform .2s;
}
.links .linkDiv img
{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(11deg) brightness(106%) contrast(101%);
  position: relative;
  width: 40px;
  height: 40px;
}
.links .linkDiv:hover{
  transform: scale(1.2);
}
.links h2:hover{
  transform: scale(1.2);
}
.progLang{
  text-align: center; 
  color: #FFFFFF; 
  font-size: 22pt; 
  filter: drop-shadow(0 0 8px #9168ac);
}

/*NAME ANIMATION*/
h1 {
    font-size: 24pt;
    letter-spacing: 3px;
    animation: name 5.5s ease-out infinite;
}
@keyframes name {
    
    10% {
      margin-left: 0;
      text-shadow: none;
    }
    
    25%, 40% {
      margin-left: 60px;
      text-shadow:
      -1px 0 #e7d2df,
      -4px 0 #e7c8db,
      -7px 0 #e9b5d5,
      -10px 0 #eba4d0;
      color: #ffffff;
    }

    55% {
        margin-left: 0;
        text-shadow: none;
        color: #eba4d0;
      }
}

.sectionsName
{
    text-align: center; 
    color: #c68bba; 
    font-size: 32pt; 
    filter: drop-shadow(0 0 8px #9168ac);
}

/*PROJECTS*/
.projectLink
{
font-size: 26pt; 
  color: #c68bba;
  filter: drop-shadow(0px 0px 2px rgba(255, 143, 221));
  transition: 1s;
  text-decoration: none;
  margin: 10px;

  background-image: linear-gradient(
    -225deg,
    #ff8fdd 0%,
    #fab1e4 29%,
    #f3cee8 67%,
    #ff8fdd 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
.projectLink:hover
{
  scale: 1.1;
}
@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

/*ABOUT*/
.about{
    text-align: center;
    
	font-size: 32pt;

    margin: 40px;
    padding: 10px;
    
	color: #c68bba;
    filter: drop-shadow(0 0 2px #c68bba);

    border: 1px solid #c68bba;
    border-radius: 15px;
}